# Compiled results
*.hex
*.elf

# Compiled Libraries
*.a

# Compilation Map
*.lst
*.map
*.d
*.disasm

# Object files
*.o
/FreeRTOS/build/default/
/FreeRTOS/dist/default/
/Demos/Blink/dist/default/
/Demos/Blink/build/default/
